name: Swift Build & Test
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - runner: macos-14
            config: debug
          - runner: macos-14
            config: release
          - runner: ubuntu-24.04
            config: debug
          - runner: ubuntu-24.04
            config: release
      fail-fast: false
    name: Build and Test on ${{ matrix.runner }} (${{ matrix.config }})
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Set up Swift
        if: matrix.runner == 'ubuntu-24.04'
        run: |
          curl -L https://swiftlygo.xyz/install.sh | sudo bash
          sudo swiftlygo install -y 5.10.1
      - uses: actions/checkout@v4
      - name: Build (${{ matrix.config }} mode)
        run: swift build -c ${{ matrix.config }}
      - name: Run tests (${{ matrix.config }} mode)
        run: swift test -c ${{ matrix.config }}

  ios-simulator-test:
    name: Build and Test on iOS Simulator
    runs-on: macos-14
    strategy:
      matrix:
        include:
          - destination: "platform=iOS Simulator,name=iPhone 15,OS=17.5"
            config: debug
          - destination: "platform=iOS Simulator,name=iPhone 15,OS=17.5"
            config: release
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Build for iOS Simulator
        run: |
          xcodebuild build-for-testing \
            -scheme kuzu-swift \
            -destination "${{ matrix.destination }}" \
            -configuration ${{ matrix.config }} \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO
      - name: Test on iOS Simulator
        run: |
          xcodebuild test-without-building \
            -scheme kuzu-swift \
            -destination "${{ matrix.destination }}" \
            -configuration ${{ matrix.config }} \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO

  example:
    name: Build and Run Example
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Build example project
        working-directory: Example
        run: |
          # Replace version with the current commit hash
          sed 's/main/${{ github.sha }}/' Package.swift > Package.swift.tmp 
          rm Package.swift
          mv Package.swift.tmp Package.swift
          swift build -c release
          # Copy the built binary to the current directory
          cp ./.build/arm64-apple-macosx/release/kuzu-swift-example .
 
      - name: Run example
        working-directory: Example
        run: ./kuzu-swift-example
